<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<h1 style="padding-top:5%" class="text-center">Cost Prediction System</h1>

<form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">


<input style="width:30%; display: block;margin-right: auto;margin-left: auto;"
       class="form-control" type="text" name="age" id="age" placeholder="Enter Your Age">
<br>
<input style="width:30%; display: block;margin-right: auto;margin-left: auto;"
       class="form-control" type="number" name="gender" id="gender" placeholder="Enter Your Gender">
<br>
<input style="width:30%; display: block;margin-right: auto;margin-left: auto;"
       class="form-control" type="text" name="bmi" id="bmi" placeholder="Enter Your BMI">
<br>
<input style="width:30%; display: block;margin-right: auto;margin-left: auto;"
       class="form-control" type="text" name="children" id="children" placeholder="Enter How Many Children You Have">
<br>
<input style="width:30%; display: block;margin-right: auto;margin-left: auto;"
       class="form-control" type="number" name="smoker" id="smoker" placeholder="Do You Smoke ?">
<br>
<input style="width:30%; display: block;margin-right: auto;margin-left: auto;"
       class="form-control" type="text" name="region" id="region" placeholder="Whats Your Region ?">
<br>







    <input class="btn btn-primary mt-3"type="submit" value="Predict Cost" >
        </form>


</body>
</html>